@import url('fonts.css');

body {
    background-color: #212121;
    font-weight: 600;
    font-size: 16px;
    color: #f3f3f3;
    margin-top: 20px;
    font-style: oblique;

    font-family: Montserrat, sans-serif;
    font-weight: 400;

    overflow-y: scroll;
    position: fixed;
    width: 100%;
    top: calc(-1 * var(--scroll-position));

    height: 590px;
    width: 380px;

    box-shadow: 0px 0px 300px rgba(34, 60, 80, 0.6) inset;
}

body.no-scroll {
    overflow-y: hidden;
    overflow-x: hidden;
    position: fixed;
    width: 100%;
    top: calc(-1 * var(--scroll-position));
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: #333;
}

.balance {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 26px;
    position: absolute;
    border: 2px;
    top: 0px;
    left: 290px;
    width: 80px;
    height: 37px;
    border-radius: 16px;
    background-color: #fff;
    color: #000;
}

.btn-primary {
    color: #fff;
    background-color: #5bb5ff;
    border-color: #5bb5ff;
}

.btn-light {
    color: #0a0d0f;
    background-color: #b3d8fd;
    border-color: #b3d8fd;
}

.bet {
    margin-top: 10px;
    margin-left: 10px;
    border-width: 2px;
    font-size: 10px; 
    color: #fff;
    width: 120px;
    height: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.bet-white {
    color: #000;
    background-color: #f7f7f7;
    border-color: #858585;
}

.bet-green {
    align: center;
    background-color: #06681e;
    border-color: #054d17;
}

.bet-red {
    background-color: #9c1b1b;
    border-color: #551111;
}

.bet-black {
    background-color: #1e262c;
    border-color: #000000;
}   

.bank-entry {
    background-color: #032346;
    border-color: #021122;
    width: 120px;
    align-self: left;
    align-self: bottom;
    margin-top: 10px;
    margin-left: 10px;
}

.main-buttons {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 15px;
    position: absolute;
    background-color: #050505;
    border: 2px solid #160808;
    box-shadow: 0 0 50px 10px #141414 inset;
    border-radius:10px;
    width: 145px;
    height: 260px;
    left: 10px;
    top: 280px;
}

.text-end {
    font-size: 40px;
}

.wheel-main {
    width: 550px;
    height: 550px;
    position: absolute;
    top: 50px;
    right: -400px;
}

.wheel-behind {
    border: 5px solid #160808;
    border-radius: 300px;
    width: 580px;
    height: 580px;
    position: absolute;
    top: 35px;
    right: -415px;
    background-color: #0f0f0f;
    box-shadow: 0 0 40px 20px #141414 inset;
}

.roll_cell {
    transform-origin: 25 225;
    position: absolute;
    right: 250px; 
}

.btn-light {
    box-shadow: 0 0 15px 3px #050505 inset;
    background-color: #2e2d2d;
    border-color: #000000;
    color: #f3f3f3; 
}

.btn-primary {
    box-shadow: 0 0 5px 1px #551111;
    background-color: #9c1b1b;
    border-color: #460e0e;
}

.arrow {
    position: absolute;
    top:300px;
    right: 170px;
}

.header {
    position: relative;
    align-self: right;
}

.header-line {
    align-self: right;
    width: 500;
    size: 5;
    color: #021122;
}

.login-button, .signup-button {
    align-items: right;  
}

.ftr {
    position: relative;
}

.timer {
    font-size: 50px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
    border-bottom: 3px solid #fff;
    width: 200px; 
    transition: 0.3s ease-in-out;
}
